*{
  margin: 0;
  padding: 0;
}


.nav{
  height: 100px;
  /* display: flex;
  justify-content: none; */
}
.left-nav{
  font-size: larger;
  font-weight: 500;
  margin-left: 20px;
  margin-top: 30px;
  display: flex;
  justify-content: none;

}
.right-nav{
  font-size: larger;
  font-weight: 500;
  width: 50%;
  /* margin-right: 30px; */
  /* margin-top: -10px; */
  display: flex;
  float: inline-end;
}
a{
  text-decoration: none;
  color: black;
}
.container{
  margin-top: 10px;
  
}